div .logo {
    background-image: url(images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 560px 120px;
    height: 120px;
    margin-bottom: 30px;
}

.tab {
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    cursor: pointer;
    height: 75px;
    text-align: center;
}

.tab div {
    position: relative;
    top: 65%;
}

.tab-selected,
.tab:hover {
    background-color: rgba(204, 204, 204, 0.5);
}

.tab-fb {
    background-image: url(images/facebook.png);
}

.tab-twitter {
    background-image: url(images/twitter.png);
}

.tab-spotify {
    background-image: url(images/spotify.png);
}

.tab-youtube {
    background-image: url(images/youtube.png);
}

.tab-discogs {
    background-image: url(images/discogs.svg);
}

.tab-instagram {
    background-image: url(images/instagram.png);
}

.tab-gigs {
    background-image: url(images/songkick_badge_pink.svg);
}

.tab-media {
    background-image: url(images/drive.png);
}

.tab-recordstore {
    background-position: 50% 15%;
    background-image: url(images/levykauppax.gif);
    background-size: 32px 37px;
}

.tab-harharetket {
    background-image: url(images/harharetket-small.png);
}

.contact {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}